# Python Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/
bin/
lib/
include/

# Environment variables
.env
.env.*

# Logs
*.log
logs/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
